doc/html/creditcruncher-0.1.dtd.txt

<!-- ============================================================== -->
<!--                DTD CREDITCRUNCHER VERSION 0.1                  -->
<!-- ============================================================== -->


<!-- .............................................................. -->
<!--                       common stuff                             -->
<!-- .............................................................. -->
<!ELEMENT property 
    EMPTY
>
<!ATTLIST property 
    name CDATA #REQUIRED
    value CDATA #REQUIRED
>

<!-- .............................................................. -->
<!--                        creditcruncher                          -->
<!-- .............................................................. -->
<!ELEMENT creditcruncher (
    (params, interests, ratings, mtransitions, sectors, 
     mcorrels, segmentations, aggregators, portfolio)
)>

<!-- .............................................................. -->
<!--                           params                               -->
<!-- .............................................................. -->
<!ELEMENT params (
    property+
)>

<!-- .............................................................. -->
<!--                          interests                             -->
<!-- .............................................................. -->
<!ELEMENT interests (
    interest+
)>

<!ELEMENT interest (
    rate+
)>
<!ATTLIST interest
    name ID #REQUIRED
    date CDATA #REQUIRED
>

<!ELEMENT rate
    EMPTY
>
<!ATTLIST rate 
    t CDATA #REQUIRED
    r CDATA #REQUIRED
>

<!-- .............................................................. -->
<!--                           ratings                              -->
<!-- .............................................................. -->
<!ELEMENT ratings (
    rating+
)>

<!ELEMENT rating
    EMPTY
>
<!ATTLIST rating 
    name ID #REQUIRED
    order CDATA #REQUIRED
    desc CDATA #REQUIRED
>

<!-- .............................................................. -->
<!--                         mtransition                            -->
<!-- .............................................................. -->
<!ELEMENT mtransitions (
    transition+
)>
<!ATTLIST mtransitions
    period CDATA #REQUIRED
    epsilon CDATA #REQUIRED
>

<!ELEMENT transition
    EMPTY
>
<!ATTLIST transition
    from IDREF #REQUIRED
    to IDREF #REQUIRED
    value CDATA #REQUIRED
>

<!-- .............................................................. -->
<!--                         sectors                                -->
<!-- .............................................................. -->
<!ELEMENT sectors (
    sector+
)>

<!ELEMENT sector
    EMPTY
>
<!ATTLIST sector
    name ID #REQUIRED
    order CDATA #REQUIRED
    desc CDATA #REQUIRED
>

<!-- .............................................................. -->
<!--                        correlations                            -->
<!-- .............................................................. -->
<!ELEMENT mcorrels (
    sigma+
)>
<!ATTLIST mcorrels
    epsilon CDATA #REQUIRED
>

<!ELEMENT sigma
    EMPTY
>
<!ATTLIST sigma
    sector1 IDREF #REQUIRED
    sector2 IDREF #REQUIRED
    value CDATA #REQUIRED
>

<!-- .............................................................. -->
<!--                         segmentations                          -->
<!-- .............................................................. -->
<!ELEMENT segmentations (
    segmentation*
)>

<!ELEMENT segmentation (
    segment*
)>
<!ATTLIST segmentation
    name CDATA #REQUIRED
    components (asset|client) #REQUIRED
>

<!ELEMENT segment
    EMPTY
>
<!ATTLIST segment 
    name CDATA #REQUIRED
>

<!-- .............................................................. -->
<!--                         aggregators                            -->
<!-- .............................................................. -->
<!ELEMENT aggregators (
    aggregator+
)>

<!ELEMENT aggregator
    EMPTY
>
<!ATTLIST aggregator
    name CDATA #REQUIRED
    segmentation CDATA #REQUIRED
    type (values|ratings) #REQUIRED
    full (true|false) #REQUIRED
>

<!-- .............................................................. -->
<!--                        portfolio                               -->
<!-- .............................................................. -->
<!ELEMENT portfolio (
    client+
)>

<!ELEMENT client (
    (belongs-to*, asset*)
)>
<!ATTLIST client
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    rating IDREF #REQUIRED
    sector IDREF #REQUIRED
>

<!ELEMENT asset (
    (belongs-to*, property+)
)>
<!ATTLIST asset
    id CDATA #REQUIRED
    class (bond) #REQUIRED
>

<!ELEMENT belongs-to
    EMPTY
>
<!ATTLIST belongs-to 
    concept CDATA #REQUIRED
    segment CDATA #REQUIRED
>
